<section>
    <div class="about1">
        <img src="assets/images/capivaras.webp" alt="">
        <div>
            <h1>Sobre Nós</h1>
            <p>No "Parque das Capivaras Encantadas," nossa missão é criar um ambiente mágico onde a natureza e a diversão se unem para proporcionar uma experiência única a todos os visitantes. Fundado com um profundo amor pela vida selvagem e o desejo de compartilhar a beleza e a importância da conservação, o Parque das Capivaras Encantadas se tornou um refúgio especial para os amantes da natureza e suas famílias.</p> 
        </div>
        
    </div>
    
    <div>
        <div class="aboutbox">
            <h3>Nossa História:</h3>
            <hr>
            <p>O parque teve suas raízes em um sonho, a visão de um lugar onde as capivaras, criaturas encantadoras e muitas vezes subestimadas, pudessem ser celebradas em seu habitat natural. A jornada de transformar esse sonho em realidade começou com a paixão pela natureza e o compromisso com a preservação da vida selvagem.</p>
    
        </div>

        <div class="aboutbox">
            <h3>Nossa História:</h3>
            <hr>
            <p>O parque teve suas raízes em um sonho, a visão de um lugar onde as capivaras, criaturas encantadoras e muitas vezes subestimadas, pudessem ser celebradas em seu habitat natural. A jornada de transformar esse sonho em realidade começou com a paixão pela natureza e o compromisso com a preservação da vida selvagem.</p>
        </div>


        <div class="aboutbox">
            <h3>Nossa Missão:</h3>
            <hr>
            <p>No "Parque das Capivaras Encantadas," nossa missão é tripla: proporcionar um lar seguro e saudável para nossas capivaras, educar o público sobre a importância da conservação da vida selvagem e criar um refúgio de paz e diversão para todos os visitantes.</p>
    
        </div>

        <div class="aboutbox">
            <h3>Nossas Capivaras:</h3>
            <hr>
            <p>Nossas capivaras são os verdadeiros anfitriões do parque. Cuidamos delas com carinho, garantindo que vivam felizes e saudáveis em seu ambiente natural. Elas não são apenas uma parte essencial de nossa comunidade, mas também servem como embaixadoras da conservação da vida selvagem.
    
            </p>
        </div>


        <div class="aboutbox">
            <h3>Educação e Conscientização:</h3>
            <hr>
            <p>Acreditamos que a educação é a chave para a conservação. Oferecemos aulas e palestras interativas para todos os visitantes, permitindo que eles aprendam sobre a vida das capivaras e sua contribuição para o ecossistema. Queremos inspirar a próxima geração a apreciar e proteger a natureza.
            </p>
        </div>


    </div>


</section>
