<header>
    <h1>Parque Capivaras Encantadas</h1>
    <p>Venha conhecer as capivaras mais simpáticas de todo o Brasil</p>
</header>
<section>
    <h1>Bem-vindo ao Parque das Capivaras Encantadas</h1>
    <hr>
    <div class="flexA">
        <div class="text">

            <p>
                Imagine um lugar mágico, onde a natureza reina soberana
                e criaturas adoráveis chamadas capivaras se tornam as
                protagonistas de um parque único e encantador. Bem-vindo
                 ao "Parque das Capivaras Encantadas," um destino de sonho
                que combina a serenidade da vida selvagem com atividades
                divertidas para visitantes de todas as idades.
            </p>
        </div>
    
        <div>
            <img src="/assets/images/park/sao_carlos_1024x576_13082021180922.jpg" alt="" >
        </div>
    </div>   

</section>

<section>
    <h1>O Encontro com as Capivaras</h1>
        <hr>

    <div  class="flexB">
        <div class="text">
        
            <p>
                O Parque das Capivaras Encantadas oferece
                a oportunidade única de conhecer e interagir
                com essas simpáticas criaturas. Passeie pelos
                 extensos espaços verdes do parque e maravilhe-se com 
                 a visão de capivaras brincando nas margens de lagos
                 tranquilos e descansando sob árvores sombreadas.
                 Você pode até mesmo alimentá-las com vegetais
                 frescos e frutas, com supervisão dos cuidadores experientes.
            </p>
        </div>
    
        <div>
            <img src="assets/images/capivaras3.jpg" alt="" >
        </div>
    </div>
</section> 

<section>

    <h1>Atividades para Toda a Família:</h1>
    <hr>

    <div class="flexA">
        <div class="text">

            <p>No Parque das Capivaras Encantadas, a diversão é para toda a família. As opções são diversas e cativantes, proporcionando uma experiência única em meio à natureza. Os visitantes podem embarcar em passeios de barco especialmente projetados para observar as capivaras de perto, explorar trilhas pitorescas e observar a vida selvagem em seu habitat natural. Além disso, há oportunidades educacionais com aulas de conservação, onde todos podem aprender sobre a importância da preservação da vida selvagem. Para aqueles que desejam um momento tranquilo, a área de piquenique é perfeita para relaxar e desfrutar de refeições ao ar livre. A criatividade também é incentivada em oficinas de arte temáticas, onde você pode pintar, desenhar e criar obras-primas inspiradas nas adoráveis capivaras.</p>
    
            
        </div>
         <div>
            <img src="assets/images/park/parquinho.jpg" alt="" >
        </div>
        

    </div>
    

</section>

<section>
    <h1>Preservando a Natureza:</h1>
    <hr>
    <div class="flexB">
        <div class="text">

            <p> O Parque das Capivaras Encantadas está comprometido com a conservação e o bem-estar desses adoráveis roedores. Todos os cuidados são tomados para garantir que eles vivam de maneira saudável e feliz, enquanto os visitantes podem aprender sobre a importância da preservação da vida selvagem.

                Se você está em busca de um refúgio natural, onde a magia da
                 natureza se mistura com a doçura das capivaras, o Parque das
                  Capivaras Encantadas é o lugar perfeito para você. Aqui,
                   a diversão, a educação e a preservação se unem para criar
                    uma experiência única e inesquecível para todos que o
                    visitam. Não perca a chance de se encantar por essas
                    criaturas maravilhosas e pela  beleza da vida selvagem 
                    que as rodeia. Venha e faça parte deste conto de fadas 
                    da natureza.</p>
        
    </div>

    <div>
        <img src="assets/images/park/Parque-Ecologico-do-Tiete.jpg" alt="">
    </div>   

    </div>
    

</section>